body {
	
	font-size: 14px !important;
}
.avatar {
	padding-top: 10px;
    padding-bottom: 10px;
}

.avatar img {
width: 135px;
border: 1px solid #f2f2f2;
border-radius: 50px;
padding: 5px;
}

 .user-bg {
	padding: 10px;
}

.header {
    width: 400px;
    height: 40px;
    background: black;
    border-radius: px;
    text-align: center;
}
